@page "/contact"
@layout HeaderLayout

@using ContactForm.Logic.Response;
@using ContactForm.Logic.ViewModels;
@inject HttpClient httpClient
@inject IJSRuntime JS

<section id="contact" class="contact sec-pad dynamicBg">
    <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
            <span class="heading-sec__main heading-sec__main--lt">Contact</span>
            <span class="heading-sec__sub heading-sec__sub--lt">
                Feel free to Contact me by submitting the form below and I will get
                back to you as soon as possible
            </span>
        </h2>
        <div class="contact__form-container">


            <EditForm Model="model" OnValidSubmit="HandleSubmit">
                    <DataAnnotationsValidator> </DataAnnotationsValidator>
                <ValidationSummary style="list-style:none;color: red;"> </ValidationSummary>

                    <div class="row">
                        <div class="form-group col-md-6">
                        <label class="contact__form-label" for="name">Your Name</label>
                        <input type="text" id="name" @bind="model.Name" class="contact__form-input">
                        <ValidationMessage style="color: red;" For="@(() => model.Name)" />
                        </div>
                        <div class="form-group col-md-6">
                        <label class="contact__form-label" for="name">Your Email</label>
                        <input type="email" id="email" class="contact__form-input" @bind="model.Email">
                        <ValidationMessage style="color: red;" For="@(() => model.Email)" />
                        </div>
                    </div>
                <div class="form-group">
                    <label class="contact__form-label" for="name">Phone</label>
                    <input type="text" id="phone" class="contact__form-input" @bind="model.Phone">
                    <ValidationMessage style="color: red;" For="@(() => model.Phone)" />
                </div>
                    <div class="form-group">
                    <label class="contact__form-label" for="name">Subject</label>
                    <input type="text" id="subject" class="contact__form-input" @bind="model.Subject">
                    <ValidationMessage style="color: red;" For="@(() => model.Subject)" />
                    </div>
                    <div class="form-group">
                    <label class="contact__form-label" for="name">Message</label>
                    <textarea class="contact__form-input" id="message" @bind="model.Message" rows="10"></textarea>
                    <ValidationMessage style="color: red;" For="@(() => model.Message)" />
                    </div>
                <div class="my-3" style="text-align: center;color: green;">
                    <div class="sent-message" style="font-size: 1.5rem; margin-bottom: 1rem;">@Message</div>
                    <button type="submit" class="btn btn--theme contact__btn" style="margin-top: 1rem;">Send Message</button>
                </div>
                </EditForm>

        </div>
    </div>
</section>


@code {
    string Message = "";
    ContactViewModels model = new();
    async Task HandleSubmit()
    {
        var result = await httpClient.PostAsJsonAsync("api/contact", model);
        var response = await result.Content.ReadFromJsonAsync<ServiceResponse>();
        Message = response!.Message!;
        ResetForm();
    }

    void ResetForm()
    {
        model.Name = "";
        model.Phone = "";
        model.Email = "";
        model.Subject = "";
        model.Message = "";
    }


}